## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lorengau,PG,-2.02,147.27,77.05,92,100,19.33,light rain
1,1,Ushuaia,AR,-54.80,-68.30,30.20,80,40,4.70,scattered clouds
2,2,Rikitea,PF,-23.12,-134.97,71.65,83,2,18.48,clear sky
3,3,New Norfolk,AU,-42.78,147.06,48.99,76,39,1.99,light rain
4,4,Mahebourg,MU,-20.41,57.70,73.40,69,75,17.22,shower rain

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lorengau,PG,-2.02,147.27,77.05,92,100,19.33,light rain
10,10,Yulara,AU,-25.24,130.99,87.80,10,0,17.22,clear sky
12,12,Meulaboh,ID,4.14,96.13,85.42,73,87,8.46,light rain
13,13,Methoni,GR,36.82,21.70,80.01,57,0,4.72,clear sky
14,14,Saint-Philippe,RE,-21.36,55.77,77.00,57,7,6.93,clear sky
16,16,Karpathos,GR,35.51,27.21,78.80,78,20,21.92,few clouds
17,17,Bathsheba,BB,13.22,-59.52,77.00,88,40,6.93,scattered clouds
20,20,Cabo San Lucas,MX,22.89,-109.91,84.00,69,9,1.01,clear sky
21,21,Hilo,US,19.73,-155.09,80.60,74,90,2.17,overcast clouds
22,22,Ugoofaaru,MV,5.67,73.00,84.70,67,100,8.14,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
city_data_df.count()

City_ID                695
City                   695
Country                690
Lat                    695
Lng                    695
Max Temp               695
Humidity               695
Cloudiness             695
Wind Speed             695
Current Description    695
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_data_df.dropna()
clean_df.count()

City_ID                690
City                   690
Country                690
Lat                    690
Lng                    690
Max Temp               690
Humidity               690
Cloudiness             690
Wind Speed             690
Current Description    690
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp Current Description    Lat     Lng Hotel Name
0     Lorengau      PG     77.05          light rain  -2.02  147.27
1      Ushuaia      AR     30.20    scattered clouds -54.80  -68.30
2      Rikitea      PF     71.65           clear sky -23.12 -134.97
3  New Norfolk      AU     48.99          light rain -42.78  147.06
4    Mahebourg      MU     73.40         shower rain -20.41   57.70
5    Busselton      AU     64.99          few clouds -33.65  115.33
6     Zhigansk      RU     54.05           clear sky  66.77  123.37
7      Qaanaaq      GL     35.91     overcast clouds  77.48  -69.36
8    Kysyl-Syr      RU     58.96           clear sky  63.90  122.76
9       Muisne      EC     71.92     overcast clouds   0.60  -80.03

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
-----------------------------
Data Retrieval Complete
-----------------------------

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lorengau,PG,77.05,light rain,-2.02,147.27,Lorengau Harbourside Hotel
1,Ushuaia,AR,30.20,scattered clouds,-54.80,-68.30,Albatros Hotel
2,Rikitea,PF,71.65,clear sky,-23.12,-134.97,Pension Maro'i
3,New Norfolk,AU,48.99,light rain,-42.78,147.06,The Shingles Riverside Cottages
4,Mahebourg,MU,73.40,shower rain,-20.41,57.70,Le Peninsula Bay Beach Resort & Spa
5,Busselton,AU,64.99,few clouds,-33.65,115.33,Observatory Guest House
6,Zhigansk,RU,54.05,clear sky,66.77,123.37,Gostinichnyy Kompleks Aylgy
7,Qaanaaq,GL,35.91,overcast clouds,77.48,-69.36,Qaanaaq Hotel
8,Kysyl-Syr,RU,58.96,clear sky,63.90,122.76,
9,Muisne,EC,71.92,overcast clouds,0.60,-80.03,Quinta Samay

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [23]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))